
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups Page</title>
    <link rel="stylesheet" href="../../static/styles.css">
    <script defer src="static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
    <script defer src="../../static/script.js"></script>
  </head>
  <body>
    <header>
      <a class="logo_incline">The Incline</a>
      <nav>
        <a class = "nav_item" href = "../../index.html"><b>Home</b></a>
        <a class = "nav_item" href = "../guide.html">Visitor's Guide</a>
        <a class = "nav_item" href = "../history.html">Our History</a>
        <a class = "nav_item" href = "../contact.html">Contact Us</a>
      </nav>
    </header>
    <main class="under_construction">
      This page is under construction. We appreciate your patience!
    </main>
    <footer>
      <table>
        <tr>
          <td><a class="footer_item" href="../index.html">Home</a></td>
          <td><a class="footer_item" href="views/guide.html">Visitor's Guide</a></td>
          <td><a class="footer_item" href="views/history.html">Our History</a></td>
          <td><a class="footer_item" href="views/contact.html">Contact Us</a></td>
        </tr>
      </table>
      RelTuru &copy;
    </footer>
  </body>
</html>

