<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
  </head> <!--dont forget to change javascript ref later-->
  <body>
    <header>
      <a class="logo_incline">The Incline</a>
      <nav>
        <a class = "nav_item" href = "../index.html">Home</a>
        <a class = "nav_item" href = "guide.html">Visitor's Guide</a>
        <a class = "nav_item" href = "history.html">Our History</a>
        <a class = "nav_item active-page" href = "contact.html">Contact Us</a>
      </nav>
    </header>
    <main>
      <section id="contact_section1-container">
        <h1>Contact Us</h1>
      </section>
      <section id="contact_section2-container">
        <div id="contact_section2-div1">
          <a>Join our mailing list!</a>
          <form id="myForm" onsubmit="return validation()">
            <label for="firstName">*First name:</label><br>
            <input type="text" id="firstName" name="firstName" required><br>
            
            <label for="lastName">*Last name:</label><br>
            <input type="text" id="lastName" name="lastName" required><br>
            
            <label for="email">*Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            
            <label for="mobile">Mobile Phone:</label><br>
            <input type="tel" id="mobile" name="mobile"><br>
            
            <label for="zipcode">Zip Code:</label><br>
            <input type="text" id="zipcode" name="zipcode" pattern="[0-9]{5}" title="Five digit zip code"><br>
            
            <input type="checkbox" id="smsConsent" name="smsConsent" value="Yes">
            <label for="smsConsent"> I would like to receive SMS messages</label><br><br>
            
            <input id="contact_form-submit" type="submit" value="Submit" onclick="validate()">
          </form>
          <br>
          * Denotes that the field may not be left blank.
        </div>
        <div id="contact_section2-div2">
          <a>Reach out!</a>
          <div id="contact_section2-div2sub">
            <a><b>Number<br></b>
            412.381.1665</a>
            <a><br><b>Email<br></b>
              <a href="mailto:duq.incline@duquesneincline.org">duq.incline@duquesneincline.org</a></a>
            <a><br><b>Address<br></b>
            1197 West Carson St.
            Pittsburgh, PA.  15219</a>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <table>
        <tr>
          <td><a class="footer_item" href="../index.html">Home</a></td>
          <td><a class="footer_item" href="guide.html">Visitor's Guide</a></td>
          <td><a class="footer_item" href="history.html">Our History</a></td>
          <td><a class="footer_item" href="contact.html">Contact Us</a></td>
        </tr>
      </table>
      Copyright &copy; RelTuru
    </footer>
  </body>
</html>
