<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor's Guide</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- this format w/ a bunch of sections can be template for other spin-off guide pages -->
    <header>
      <a class="logo_incline">The Incline</a>
      <nav>
        <a class = "nav_item" href = "../index.html"><b>Home</b></a>
        <a class = "nav_item" href = "guide.html">Visitor's Guide</a>
        <a class = "nav_item" href = "history.html">Our History</a>
        <a class = "nav_item" href = "contact.html">Contact Us</a>
      </nav>
    </header>
    <main id="guide_main-container">
      <section id="guide_section1-container">
        <h1>Hours</h1>
      </section>
      <section id="guide_section2-container">
        <h1>Rates</h1>
      </section>
      <section id="guide_section3-container">
        <h1>Gift Shop</h1>
      </section>
      <section id="guide_section4-container">
        <h1>Things to Do</h1>
      </section>
      <section id="guide_section5-container">
        <h1>Directions</h1>
      </section>

    </main>
    <footer id="footer_copyright-year">
      RelTuru &copy;
    </footer>
  </body>
</html>

