<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor's Guide</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- this format w/ a bunch of sections can be template for other spin-off guide pages -->
    <header>
      <a class="logo_incline">The Incline</a>
      <nav>
        <a class = "nav_item" href = "../index.html">Home</a>
        <a class = "nav_item active-page" href = "guide.html">Visitor's Guide</a>
        <a class = "nav_item" href = "history.html">Our History</a>
        <a class = "nav_item" href = "contact.html">Contact Us</a>
      </nav>
    </header>
    <main id="guide_main-container">
      <section id="guide_section1-container">
        <h1>Hours</h1>
        <p>
          Open <a class="uline">everyday of the year</a>
          <br>from <a class="uline">6:30am to 12:30am</a>
          <br><br> Questions? Call us at 412.381.1665
        </p>
        <p>Planning for the weather? Today in Pittsburgh it's <a id="weather-temp"></a></p>
      </section>
      <section id="guide_section2-container">
        <h1>Rates</h1>
        <table id="guide_section2-table">
          <thead>
            <tr>
              <th>Group</th>
              <th>One-Way</th>
              <th>Round Trip</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Children (age 5 and under)</td>
              <td>Free</td>
              <td>Free</td>
            </tr>
            <tr>
              <td>Children (age 6-11)</td>
              <td>$1.25</td>
              <td>$2.50</td>
            </tr>
            <tr>
              <td>Adults (age 12-64)</td>
              <td>$2.50</td>
              <td>$5</td>
            </tr>
            <tr>
              <td>Seniors (age 65+)</td>
              <td>Free</td>
              <td>Free</td>
            </tr>
            <tr>
              <td>University students w/ ID</td>
              <td>Free</td>
              <td>Free</td>
            </tr>
          </tbody>
        </table>
        <p>No reservations may be made ahead of time.
          <br> Only Cash or Port Authority passes will be accepted as payment.
        </p>
        <a class = "index_section6_btn" href="guidepages/groups.html">Group Rates</a>
      </section>
      <section id="guide_section3-container">
        <h1>Gift Shop</h1>
        <div id="guide_section3-images">
          <img src="../static/images/woodcar.png" alt="wooden toy car">
          <img src="../static/images/postcard.png" alt="pittsburgh post card">
        </div>
      </section>
      <section id="guide_section4-container">
        <h1>Things to Do</h1>
        <div id="guide_section4-noheader">
          <div id="guide_section4-div1">
            <b>Tours Featuring the Incline</b>
            <br>The Pittsburgh Tour Company: <a href="https://www.pghtours.com/">Learn More</a>
            <br>Molly's Trolleys: <a href="https:/www.mollystrolleyspgh.com">Learn More</a>
            <br>Rivers of Steel: <a href="https:/www.riversofsteel.com">Learn More</a>
          </div>
          <div id="guide_section4-div2">
            <b>After Visiting the Incline</b>
            <br>Dining on Grandview Avenue: Steel Mill Saloon,  LeMont Restaurant
            <br>Station Square: Hard Rock Cafe, Gateway Clipper Fleet
            <br>North Shore: Rivers Casino, PNC Park, Carnegie Science Center
          </div>
        </div>
      </section>
      <section id="guide_section5-container">
        <h1>Directions</h1>
        <br>
        <div id="guide_section5-noheader">
          <div id="guide_section5-div2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.6006178261428!2d-80.02011745962949!3d40.439841654351355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f6af24753323%3A0x391d7b79fc54985b!2sDuquesne%20Incline!5e0!3m2!1sen!2sus!4v1743385241235!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <table>
        <tr>
          <td><a class="footer_item" href="../index.html">Home</a></td>
          <td><a class="footer_item" href="guide.html">Visitor's Guide</a></td>
          <td><a class="footer_item" href="history.html">Our History</a></td>
          <td><a class="footer_item" href="contact.html">Contact Us</a></td>
        </tr>
      </table>
      Copyright &copy; RelTuru
    </footer>
  </body>
</html>

