*{
  color: #352208;
  margin:0;
}
.active-page {
  font-weight: bold;
  color: #352208 !important;
}
#contact_section1-container{
  background-color:#F3E9DC;
  background-image:url('images/duq_ken.png');
  background-repeat: no-repeat;
  background-size:cover;
  /* background-position:center; */
  display:flex;
  justify-content:center;
  padding:10%;
  width:100%;
}
#contact_section2-container{
  display:flex;
  justify-content: space-evenly;
  width:100%; /*without this isn't evenly spaced*/
}
#contact_section2-div1{
  background-color:#F3E9DC;
  border-radius:30px;
  display:flex;
  flex-direction:column;
  font-size:150%;
  justify-content:center;
  margin-left: 2.5%;
  margin-right:2.5%;
  padding:2.5%;
  width:100%;
}
#contact_section2-div1>a{
  text-align:center;
}
#contact_section2-div2{
  align-items:center;
  background-color:#F3E9DC;
  border-radius:30px;
  display:flex;
  font-size:150%;
  flex-direction:column;
  margin-left:2.5%;
  margin-right:2.5%;
  padding:2.5%;
  width:100%;
}
#contact_section2-div2sub{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:100%;
}
#contact_form-submit{
  font-size:75%;
  padding:1%;
}
footer{
  align-items:center;
  background-color: #352208;
  color:white;
  display:flex;
  flex-direction:column;
  padding:5%;
  width:100%;
}
footer *{
  color:white;
  font-size:105%;
}
footer>table{
  border-spacing:35px;
  padding-bottom:5%;
}
#guide_main-container>section{ /* TEMP??*/
  padding:5%;
}
#guide_section1-container{
  align-items:center;
  background-color:#F3E9DC;
  display:flex;
  flex-direction:column;
  width:100%;
}
#guide_section1-container>p{
  text-align:center;
  font-size:150%;
  padding-top:2.5%;
  width:100%;
}
#guide_section2-container{
  align-items:center;
  display:flex;
  flex-direction: column;
  /* justify-content:center; */
}
#guide_section2-container a{
  margin-top:5%;
}
#guide_section2-container>p{
  font-weight: bold;;
  font-size:125%;
  padding-top:5%;
}
#guide_section2-container>table{
  border-collapse:separate;
  border-spacing:20px 15px;
  border: solid 2px black;
  font-size:150%;
  margin-top:5%;
}
#guide_section3-container{
  align-items:center;
  background-color: #AA6373;
  display:flex;
  flex-direction:column;
  width:100%;
}
#guide_section3-images{
  display:flex;
  justify-content:center;
  margin-top:5%;
}
#guide_section3-images *{
  object-fit:contain;
  width:20%;
}
#guide_section4-container{
  align-items:center;
  background-color:#F3E9DC;
  display:flex;
  flex-direction:column;
  width:100%;
}
#guide_section4-noheader{
  display:flex;
  font-size:125%;
  justify-content:space-between;
  text-align:center;
  padding-top:1.5%;
  width:100%;
}
#guide_section4-div1{
  padding:2%;
  width:50%;
}
#guide_section4-div1>a{
  text-decoration:underline;
}
#guide_section4-div2{
  padding:2%;
  width:50%;
}
#guide_section5-container{
  align-items:center;
  background-color:#4A6C6F;
  display:flex;
  flex-direction:column;
  width:100%;
}
#guide_section5-noheader{
  display:flex;
  gap:5px;
}
header{
  background-color:#4A6C6F;
  color:#F3E9DC;
  display:flex;
  justify-content: flex-end;
  padding:1.5%;
}
#history_main-styling h1{
  padding:2%;
}
#history_section1-container{
  align-items:center;
  background-color:#F3E9DC;
  display:flex;
  flex-direction:column;
  font-size:125%;
}
#history_section2-container{
  align-items:center;
  display:flex;
  flex-direction:column;
  font-size:125%;
  padding:5%;
  width:100%l
}
#history_section2-div1{
  /* width:100%; */
  padding-bottom:2.5%;
}
#history_section2-div2{
  display:flex;
  width:100%;
}
/* #history_section2-div2>ul{
  width:55%;
} */
#history_section2-div2>ul *{
 padding:1.5%;
}
/* #history_section2-div2>img{
  width:100%;
} */
#history_old_incline{
  flex-wrap:wrap;
  width:80%;
}
#history_section3-container{
  align-items:center;
  background-color:#F3E9DC;
  display:flex;
  flex-direction:column;
  font-size:125%;
}
#index_img1-styling{
  left:0%;
  /* position:absolute; */
  width:25%;
  object-fit:contain;
}
#index_section1-container{
  background-color: #F3E9DC;
  display:flex;
  margin:0%;
  padding:0%;
  width:100%;
  /* padding:2.5%; */
}
#index_section1-div1{
  display:flex;
  /* flex-direction:column; */
  padding:3%;
  width:65%;
}
#index_section1-div2{
  align-items:center;
  background-image: url('images/underground_tunnel.jpeg');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  display:flex;
  flex-direction:column;
  font-size:120%;
  padding:3%;
  width:35%;
}
#index_section1-div2,
#index_section1-div2 *{
  color:white;
}
#index_section1-div2>h2{
  font-size:250%;
  font-weight:normal;
}
#index_section1-div2>table{
  border-collapse: separate;
  border-spacing: 15px 5px;
  margin-top:5%;
}
#index_section1_header{
  font-size:200%;
}
#index_section1_text{
  font-size:150%;
  margin-left:1.5%;
  margin-right:1.5%;
}
#index_section2-container{
  background-color: #F3E9DC;
  display:flex;
  /* margin-top:5%; */
  padding:0%;
  width:100%
}
#index_section2-div1{
  align-items:center;
  background-image: url('images/grass_landscape.jpeg');
  background-repeat:no-repeat;
  /* background-size:100% auto; width adjusts, height auto matches */
  background-size:cover;
  background-position:center;
  /* color:white; */
  display:flex;
  justify-content:center;
  padding:5%;
  width:63.5%;
}
#index_section2-div2{
  /* align-items:flex-end; */
  display:flex;
  flex-direction:column; /*OH if using columns, justify becomes the up/down vert aliginment 
                           align becomes the horizontal L/R alignment*/
  justify-content:center;
  padding:3%;
  width:36.5%;
}
#index_section2-div2>h2{
  font-size:200%;
}
#index_section2-div2>p{
  font-size:150%;
}
#index_section3-container{
  /* align-items:flex-start; */
  background-image: url('images/duq_pano.jpeg');
  background-repeat:no-repeat;
  background-position:center;
  background-size: contain;
  display:flex;
  justify-content:center;
  padding:15%;
  width:100%;
}
#index_section4-container{
  background-color:#F3E9DC;
  display:flex;
  justify-content:center;
  padding:10%;
  width:100%;
}
#index_section4-contactbtn{
  align-items:center;
  background-color:#352208;
  border-radius:15px;
  color:#F3E9DC;
  font-size:200%;
  padding:2%;
}
#index_section5-container{
  align-items:center;
  background-color:#AA6373;
  display:flex;
  flex-direction:column;
  width:100%;
}
#index_section5-container *{
  color: #F3E9DC;
}
#index_section5-container > div{
  display:flex;
  justify-content:space-evenly;
  width:100%;
}
#index_section5-container img{
  object-fit:contain;
  width: 20%;
}
#index_section6-container{
  align-items:center;
  background-color:#F3E9DC;
  /* background-image: url('images/indexp1.jpg'); */
  /* background-repeat:no-repeat;
  background-size:100% auto; */
  /* color:white; */
  display:flex;
  justify-content:space-evenly;
  padding:5%;
  width:100%;
}
#index_section6-container>div{
  align-items:center;
  display:flex;
  flex-direction:column;
  gap:10px;
  justify-content:center;
  width:100%
}
#index_section6-container img{
  background-color:#BF4E30;
  border-radius:10px;
  padding:3%;
  width:20%;
}
.index_section6_btn{
  background-color:#4A6C6F;
  border-radius:15px;
  color:#F3E9DC;
  font-size:125%;
  padding:2%;
}
.logo_incline{
  font-size:250%;
  position:absolute; /*note:absolute overrides on top of other content*/
  top:1.5%;
  left:1.5%;
}
main{ /*temporary*/
  align-items:center; /*this aligns horizontally*/
  display:flex;
  flex-direction: column;
  justify-content:center; /*this aligns vertically*/
}

main > section{
  padding:3%;
}
nav{
  color:#F3E9DC;
  font-size:175%;
  justify-content: flex-end;
  text-decoration:none;
  width:45%;
}
.nav_item{
  padding-left:2%;
  padding-right:2%;
}
.uline{
  text-decoration:underline;
}
.under_construction{
  background-color: #F3E9DC;
  font-size:125%;
  padding:30%;
}

/*handling all links visited/not, will be editing*/
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit; /* Takes color from parent element */
  outline: none;
}